<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet"href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>this site was created by hablu, it uses data from third party</p>
    <img class="portrait" src="/img/me.png">
   {{>footer}}
</body>


</html>